<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>

  <body id="page-top">
    <!-- Navigation-->
    <%- include('layouts/navbar') -%>
      <!-- Masthead-->
      <header class="masthead dashboard">
        <div class="container px-4 px-lg-5 h-100">
          <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
              <h1 class="text-white font-weight-bold">DriveTest Booking Kiosk</h1>
              <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
              </p>
              <h3 class="text-white-75 mb-5">You can book G2/G drive test from this Kiosk</h3>
            </div>
          </div>
        </div>
      </header>

      <!-- Footer-->
      <div class="position-fixed ">
        <%- include('layouts/footer') -%>
      </div>
        <!-- scripts -->
        <%- include('layouts/scripts') -%>
  </body>

</html>